<div class="jumbotron jumbotext text-center">
    <h1>Mongo Scraper</h1>
    <p><span class="flag" id="yellow">Colombian </span><span class="flag" id="blue">Sports </span> <span class="flag" id="red">Edition</span></p>
</div>

<div class="container">
    <div class="col-md-12">
        {{#if track}}
        {{#each track}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="article-title">{{this.title}}</h4>
                <p class="section-time text-right">{{this.section}} / {{this.date}}</p>
            </div>
            <div class="panel-body">
                
                <a href={{this.link}} target="_blank">{{this.summary}}</a>
                <br><br>
                <button type="button" class="btn btn-success save" data-id={{this._id}}>Save Track</button>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Uh Oh. Looks like we don't have any new tracks.</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>